.gallary{
    padding-right: 108px;
    padding-left: 108px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.color{
   width: 100%;
   height: 44px;
   flex-shrink: 0;
   background-color: #550E13;
}
.heading{
color: #5C0E14;
font-family: Emilio Test;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
padding-bottom: 10px;
}
.text{
color: #1B1C1E;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
padding-bottom: 100px;
padding-right: 5px;
}
.button{
    width: 232px;
    height: 50px;
    flex-shrink: 0;
    border: 1.5px solid #650010;
    color: #650010;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140.4%; /* 28.08px */
}
.button:hover{
    width: 232px;
    height: 50px;
    flex-shrink: 0;
    background-color:#650010 ;
    border: 1.5px solid white;
    color: white;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140.4%; /* 28.08px */    
}
.back1{
<<<<<<< HEAD
    background-image: url('/gallary5.jpeg');
=======
    background-image: url('../../../public//gallary5.jpeg');
>>>>>>> aws-build-branch
    background-size: 392px 361px;
    background-repeat: no-repeat;
}
.back2{
<<<<<<< HEAD
    background-image: url('/gallary5.jpeg');
=======
    background-image: url('../../../public//gallary5.jpeg');
>>>>>>> aws-build-branch
    background-size: 392px 361px;
    background-repeat: no-repeat;
}
.back3{
<<<<<<< HEAD
    background-image: url('/gallary1.jpeg');
=======
    background-image: url('../../../public/gallary1.jpeg');
>>>>>>> aws-build-branch
    background-size: 808px 361px;
    background-repeat: no-repeat;
}
.back4{
<<<<<<< HEAD
    background-image: url('/gallary1.jpeg');
=======
    background-image: url('../../../public/gallary1.jpeg');
>>>>>>> aws-build-branch
    background-size: 392px 361px;
    background-repeat: no-repeat;
}