.body{
    background-color: #FFF3F4;
    width: 100%;
    height: 297px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 37px;
}
.heading{
color: #650010;
font-family: Emilio Test;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.name{
    color: #650010;
font-family: Emilio Test;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 6px;
}
.school{
    color: #650010;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 24px;
}
.address{
    color: #650010;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 12px;
}
.email{
    color: #650010;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
padding-bottom: 12px;
}
.phone{
    color: #650010;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}