.slide-track{
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(300px * 9));
    }
}