.program{
    height: 961px;
    width: 100%;
    padding-left: 108px;
    padding-right: 108px;
    padding-top: 107px;
    background-image: url('/programback.jpeg');
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0.79) 100%),url('/programback.jpeg');
    background-repeat: no-repeat;   
    background-size: auto 600px;
}
