.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.curve .shape-fill {
    fill: #650010;
}


.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #650010;
}