.img1{
    background-image: url(../../../assets/hostelPage/facility1.png);
    background-size: 440px 570px;
    background-repeat: no-repeat;
}
.img2{
    background-image: url(../../../assets/hostelPage/facility2.png);
    background-size: 260px 260px;
    background-repeat: no-repeat;
}