@media screen and (max-width: 360px) {
  .container {
    background-color: #e8e8e8;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .img1 {
    opacity: 0;
  }
  .mobile1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 112px;
    opacity: 100;
  }
  .img2 {
    position: absolute;
    top: 0px;
    left: 230px;
    width: 130px;
    height: 112px;
  }
  .img3 {
    position: absolute;
    opacity: 0;
  }
  .mobile3 {
    position: absolute;
    top: 136px;
    right: 0px;
    width: 99px;
    opacity: 100;
  }
  .img4 {
    opacity: 0;
  }
  .mobile4 {
    position: absolute;
    top: 136px;
    left: 0px;
    width: 110px;
    opacity: 100;
  }
  .img5 {
    opacity: 0;
  }
  .mobile5 {
    position: absolute;
    top: 360px;
    right: 0px;
    width: 110px;
    opacity: 100;
  }
  .img6 {
    opacity: 0;
  }
  .mobile6 {
    position: absolute;
    top: 360px;
    left: 0px;
    width: 110px;
    opacity: 100;
  }
  .img7 {
    opacity: 0;
  }
  .mobile7 {
    position: absolute;
    top: 525px;
    left: 0px;
    width: 130px;
    height: 112px;
    opacity: 100;
  }
  .mobile8 {
    position: absolute;
    top: 525px;
    left: 230px;
    width: 130px;
    height: 112px;
    opacity: 100;
  }
  .img8 {
    opacity: 0;
  }
  .img9 {
    opacity: 0;
  }
  .centerdiv {
    margin-top: 10px;
  }
  .explore {
    position: relative;
    font-size: 10px;
    margin-top: 258px;
  }
  .life {
    font-size: 20px;
    position: relative;
  }
  .experience {
    width: 253px;
    position: relative;
    font-size: 12px;
  }
  .button {
    width: 104px;
    height: 36px;
    position: relative;
    font-size: 12px;
  }
}
